.c-accordion__btn--wrap {
  font-size: 30px;
  padding: 50px 0;
  text-align: center;
  cursor: pointer;
  cursor: hand;
}

.c-accordion__btn {
  font-size: 30px;
  padding: 50px 0;
  cursor: pointer;
  cursor: hand;
}

.c-accordion__btn:after {
  content: "↓";
}

.c-accordion__btn.open:after {
  content: "↑";
}
